@font-face {
	font-family: 'Nexa';
	src: url('../fonts/NexaLight.eot');
	src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NexaLight.woff') format('woff'),
		url('../fonts/NexaLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Nexa';
	src: url('../fonts/NexaBold.eot');
	src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NexaBold.woff') format('woff'),
		url('../fonts/NexaBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Woman';
	src: url('../fonts/FeltTipWoman.eot');
	src: url('../fonts/FeltTipWoman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FeltTipWoman.woff') format('woff'),
		url('../fonts/FeltTipWoman.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
  font-family: 'Sans';
  src: url('../fonts/open-sans-light-webfont.woff2') format('woff2'),
       url('../fonts/open-sans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
