* {
	box-sizing: border-box;
}

header,
.about-me,
.portfolio {
	position: relative;
}

section {
	padding: 10rem 4rem;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-image: url(../images/top-background.jpg);
	background-size: cover;
	background-position: center;
	min-height: 44rem;
	height: 100vh;
	width: 100%;
}

h1 {
	font-family: 'Nexa', sans-serif ;
	font-size: 3.75rem;
	text-transform: uppercase;
	color: #fff;
	margin: 3rem 0;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Hamburger */

.toggle {
	cursor: pointer;
	position: fixed;
	top: 5%;
	right: 5%;
	z-index: 5;
	transform: translate(-5%, -5%);
	display: none; 
}

.toggle__item {
	/* display: block;
	height: 0.2rem;
	width: 2rem;
	background-color: rgb(73, 73, 73);
	margin: 0.3rem; */
	display: block;
	height: 4px;
	width: 25px;
	border-radius: 2px;
	background-color: rgb(73, 73, 73);
	position: relative;
	margin-bottom: 5px;
	transition: transform 1s linear;
	-webkit-transform-origin: 0;
	transform-origin: 0 2;
}


/* container with double arrow */

.scrollcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 3rem;
}

.scrollcontainer__text {
	font-family: 'Nexa', sans-serif ;
	font-weight: 600;
	font-size: 1.1rem;
	text-transform: uppercase;
	color: #dddedf;
	margin: 3rem 0 0.5rem;
}

.link__double-arrow {
	display: block;
	background-image: url(../images/double-arrow.png);
	background-repeat: no-repeat;
	height: 3.5rem;
	width: 2rem;
	transition: all 0.3s;
}

.scrollcontainer__link:hover .link__double-arrow {
    transform: translateY(1rem);
}

/* header */

.header__menu {
	position: fixed;
	border-bottom: 1px solid #bebebe;
	width: 95%;
	top: 0;
	z-index: 999;
}

.menu__list {
	display: flex;
	justify-content: center;
}

.list__item:hover {
	background: linear-gradient(to bottom, #8f969c, #bcbfc6);
}

.item__link {
	display: block;
	padding: 1rem 2rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #cecece;
	font-family: 'Nexa', sans-serif ;
}

.item__link:hover {
	color: #415f4c;
}

.header__logobox {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logobox__logo {
	display: block;
	height: 35vh;
}

.name-bold {
	font-family: 'Nexa', sans-serif ;
	font-weight: 600;
}



/* section about me */

.about-me {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.about-me__details {
	display: flex;
	width: 100%;
}

.details__foto,
.details__text {
	width: 50%;
}

.foto__picture {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.details__text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2rem;
}

.text__capital {
	font-family: 'Nexa', sans-serif ;
	font-size: 3.75rem;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
}

.text__description {
	font-family: "Sans", sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
	line-height: 2.5rem;
	padding: 2rem 0;
}

.text__description--moved {
	padding-top: 0;
}


.text__sign {
	font-size: 2.25rem;
	font-family: 'Woman',sans-serif ;
}

.text--grey {
	color: #bebebe;
}

/* section gallery */

.portfolio {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url(../images/portfolio-background.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
}

.text__capital--white {
	color: white;
	padding-bottom: 3rem;
}

.portfolio__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	align-content: flex-end;
	padding-bottom: 2rem;
}

.portfolio__container img {
	width: 20%;
	padding: 1.5rem 1rem;
	border-radius: 15%;
	cursor: pointer;
}

.portfolio__container img:hover {
	transform: scale(1.2,1.2);
	transition-timing-function: ease-out;
	transition-duration: 1s;
}

/* footer */


.footer__contacts {
	padding: 10rem;
}

.contacts__headers {
	font-family: 'Nexa', sans-serif ;
	font-weight: 600;
	font-size: 2.9rem;
	text-transform: uppercase;
	padding: 3rem 0;
}

.contacts__links {
	font-family: 'Nexa', sans-serif ;
	font-size: 3.75rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.3rem;
	color: #202020;
}

.fa {
	height: 3rem;
	width: 3rem;
	margin-right: 0.5rem;
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 100%;
	color: #202020;
}

.fa-facebook:hover {
	background-color: #3b5998;
	color:#fff;
}

.fa-twitter:hover {
	background-color: #4099FF;
	color:#fff;
}

.fa-instagram:hover {
	background: linear-gradient(25deg, #fccc63, #fbad50, #e95950, #cd486b, #bc2a8d, #8a3ab9, #4c68d7);
	color:#fff;
}


.footer__created {
	border-top: 1px solid #bebebe;
	width: 100%;
}

.created__by {
	font-family: 'Nexa', sans-serif ;
	font-size: 1.1rem;
	text-transform: uppercase;
	color: #cecece;
	padding: 2rem 0;
}

